:root{
    --lightblue: #b0e0e6;
    --darkblue: #4c6894;
    --gold: #daa520;
    --hover: #d7aaf7;
    --background: #212324;     
}

*{
    box-sizing: border-box;
  }

body{
    background-color: var(--background);
    margin: 0; 
    padding: 0;
}

#content, #header, ul, .home-content, .right, .location-hours, .blurb, .menu, .menu-wrap, .row-wrap, .footer{
 display: flex;
}

#content{
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* nav bar */

#header{  
    justify-content: space-between;
    padding: 0 2% 0 2%;
    align-items: center;
    background-color: #4c6894;
    border-bottom: 2px solid var(--gold);
}

.title, ul{
    color: var(--lightblue);
}

#icon{
    height: 50px;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}
ul {
    padding: 0;  
    gap: 40px;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold;
}

 li:hover{
    color: #d7aaf7;
 }

li.active {
    color: #d7aaf7;
 }

/* home */

.home-content{
    text-align: center;
    gap: 10px;
}

.left{
    width: 100%;
    margin: 20px;
}

.right{ 
    flex-direction: column;
    margin: 10px; 
    gap: 10px;   
    
}

.location-hours{
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid var(--gold);
}

.location > p {
    text-align: left;
}

.location, .hours{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.location-icon{
    height: 50px;
    margin-right: 15px;
}

.hours-icon{
    height: 50px;
    margin-right: 5px;
}
.hours-icon, .location-icon{
    /* brightness and saturate at beginning to convert icons to black  */
    filter: brightness(0) saturate(100%) invert(89%) sepia(24%) saturate(300%) hue-rotate(138deg) brightness(93%) contrast(95%);}

.blurb{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid var(--gold);
    border-radius: 16px;
    font-size: 1.5rem;
}

.phrase {
    width: 100%;
    border-bottom: 1px solid var(--gold);
    border-radius: 16px 16px 0 0;
    background: var(--darkblue);
}

.blurb > p{
    display: flex;
    align-items: center;
    height: 100%;
}

.cafe-pic{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 1px solid var(--gold);
}

[data-content] {
    display: none;
}
.active[data-content]{
    color: var(--gold);
    display: block;
}
.menu{ 
    
    width: 100vw;
    justify-content: space-around;
    border: 2px solid green;

}

.wrap-left, .wrap-right{
border: 2px solid blue;
width: 40vw;
}

.menu-wrap{
    flex-direction: column;
    align-items: center;   
}

.row-wrap{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.food-title{
    color: rgb(226, 116, 135);
}

.food-item{
    border: 2px solid var(--gold);
    margin-bottom: 1%;
   width: 20rem;
    height: 20rem;
}

.food-item > img{
   width: 20rem;
   height: 20rem;
   border: 2px solid red;
   object-fit: cover;
}

.food-blurb{
    display: none;
}

.footer{
justify-content: center;
align-items: center;
background-color:rgb(89, 90, 90);
}

.footer-icon{
    margin-left: 10px;
}