.blueTest {
    color: powderblue;
}

#icon{
    height: 50px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid goldenrod; */
}

.tabs{
    display: flex;
   list-style-type: none;
   gap: 30px;
   color: blue;
}

[data-content] {
    display: none;
}
.active[data-content]{
    color: greenyellow;
    display: block;
}


