.blueTest {
    color: powderblue;
}

#icon{
    height: 50px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid goldenrod; */
}

.tabs{
    display: flex;
   list-style-type: none;
   gap: 30px;
   color: blue;
}

.active[data-content], .active{
    color: greenyellow;
}


